### Read data to local

In [1]:
ds <- read.csv("https://raw.githubusercontent.com/ZackYe42/STAT301-GroupProject/main/medicalmalpractice.csv", header = T)
head(ds)

  Amount Severity Age Private.Attorney Marital.Status Specialty
1  57041 7        62  1                2              Family Practice
2 324976 6        38  1                2              OBGYN
3 135383 4        34  1                2              Cardiology
4 829742 7        42  1                1              Pediatrics
5 197675 3        60  0                2              OBGYN
6  75368 9        71  1                2              Internal Medicine
  Insurance         Gender
1 Private           Male
2 No Insurance      Female
3 Unknown           Male
4 No Insurance      Female
5 Medicare/Medicaid Female
6 Medicare/Medicaid Female